html,body{
	height: 100%;
	margin:0;
	padding:0;
}

#tree_tab {
	width: 50%;
	height: 100%;
	background-color:#F4F6F7;
	overflow-x: scroll;
	overflow-y: scroll;
    float: left;
}

#story_tab {
    width: 50%;
    height: 100%;
    padding: 50px;
    background-color:#3498DB;
    text-align: center;
    float: right;
}

.banner{
	position: relative;
	width: 100%;
	height: 15%;
	background: #2E4053;
	overflow-x: scroll;
	overflow-y: scroll;
}

#banner_title {
    position: relative;
    padding: 15px;
    top: 20%;
    left: 17%;
    width: 100%;
    font-size: 50px;
    background-color: #909497;
    text-align: center;
    text-shadow: 2px 4px gray;
    color: white;
    border-radius: 20px;
}

.btn{
	position: relative;
    top: 20%;
	margin-top: 50%;
	margin-bottom: 50%;
	
}

.banner_button {
    position: inherit;
    font-size: 12px;
    border-radius: 25px;
    text-align: center;
    flaot: right;
}

.layout_tree {
    position: relative;
    padding: 2px;
    width: 100%;
    height: 100%;
}

.map_img {
    width: 100%;
    height: 100%;
}

#question {
    font-size: 25px;
    font-style: italic;
    margin-bottom: 0;
}

#article_title {
    font-size: 50px;
}

#article-content {
    font-size: 20px;
    font-weight: bold;
}

#like_button {
    margin-bottom: 20px;
    border-radius: 25px;
}

#edit_button {
    font-size: 20px;
    width: 10%;
    heigth: 10%;
    border-radius: 25px;
    float: right;
    top: 90%;
}

#edit_button_img {
    width: 100%;
    height: 100%;
}

